# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

2020/

/agile-2020-papers.html

.local/

.rstudio/

.venv/

accepted-full-papers/*.pdf
accepted-full-papers/*.html

submissions/*.pdf

/agile-2020-papers_files/

report-template/reproreview-template.pdf

accepted-full-papers/

camera-ready-full-papers/

review-material/

README.html

reports/2020-008/AGILECA/

reports/**/*.zip

reports/**/*.pdf

reports/**/*.eml
reports/2020-018/11407371/

reports/2020-011/11412006/

reports/2020-011/updated_figshare_content/

reports/2020-011/GStream/

reports/2020-012/Spatial-nominal-entity-recognition

reports/2020-026/TemporalBiases

reports/2020-031/arcgis-online-search-engine

reports/2020-032/Tracking-Hurricane-Dorian-in-GDELT-and-Twitter

reports/2020-009/dataset/

reports/2020-009/computational-workflow/

reports/2020-009/LICENSE.txt

reports/2020-009/caches/

reports/2020-009/nodes/

reports/2020-009/images/

reports/2020-009/README.md
